<table class="table" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of itens">
    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{item.title}}</td>
    </tr>
  </tbody>
</table>

<p-dataTable [value]="itens" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
  <p-header>List of Cars</p-header>
  <p-column field="id" header="Id"></p-column>
  <p-column field="title" header="Title"></p-column>
  <ng-template pTemplate="paginatorLeft">
      <button type="button" pButton icon="fa-refresh"></button>
  </ng-template>
  <ng-template pTemplate="paginatorRight">
      <button type="button" pButton icon="fa-cloud-upload"></button>
  </ng-template>
</p-dataTable>